<div class="dialog-container">
  <h2>{{data.title}}</h2>

  <div class="input-container">
    <label class="input-label">{{data.message}}</label>
    <!-- <input matInput class="input-field" [(ngModel)]="server" type="text" [placeholder]="data.placeholder"> -->
    @if(data.page === 'open_ai_token'){
    <input matInput class="input-field" [(ngModel)]="server" type="password" [placeholder]="data.placeholder">
  } @else {
    <input matInput class="input-field" [(ngModel)]="server" type="text" [placeholder]="data.placeholder">
  }

  </div>
  @if (data.page != 'open_ai_token' && server) {
    <p class="error-message"> {{server}}</p>
  }
  @if (errorMessage) {
    <p class="error-message"> {{errorMessage}}</p>
  }

  <div class="button-group">
    <button class="cancel-btn" (click)="close()">{{data.cancelText}}</button>
    <button class="save-btn" (click)="saveDomain()">{{data.confirmText}}</button>
  </div>
</div>


